@import "/vendor/filament/filament/resources/css/theme.css";

@config 'tailwind.config.js';

.fi-topbar nav {
    background-color: #203158 !important;
}
.fi-sidebar-header {
    background-color: #203158 !important;
}
/* Jika perlu, tambahkan style untuk elemen dalam topbar */
.fi-sidebar {
    background-color: #d4d9e4 !important;
}
/* Tombol sign Up */
/* .fi-ac {
    background-color: white !important;
} */
.fi-logo {
    padding-top: 0.2rem !important;
}
